{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
</head>

<body>

    <div id="header">
        <h3>history.com</h3>
    </div>

    <div id="navbar">

        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Ancient Greece</a></li>
            <li><a href="">Ancient Rome</a></li>
            <li><a href="">World War II</a></li>
        </ul>

    </div>

    <div class="sideright">
        <h2>Lecture Dates</h2>
        <p>11/07 - Lecture on Caesar</p>
        <p>11/14 - Lecture on Hannibal</p>
        <p>11/21 - Lecture on Alexander</p>
        <p>11/28 - Lecture on Napolean</p>
        <p>12/05 - Lecture on Scipo</p>

    </div>

    <div class="sideright">
        <h2>Lecture 2</h2>
        <p>11/07 - Lecture on Caesar</p>
        <p>11/14 - Lecture on Hannibal</p>
        <p>11/21 - Lecture on Alexander</p>
        <p>11/28 - Lecture on Napolean</p>
        <p>12/05 - Lecture on Scipo</p>

    </div>

    <div>
        <img class="imagesidebar" src="{% static 'polls/images/callout.jpg' %}">

    </div>

    <div class="main">
        <h1> HANNIBAL - THE BATTLE OF CANNAE</h1>
        <p> After defeating the Romans at the Battle of Lake Trasimene, Hannibal now moved his forces down south.
        There was panic in Rome and Quintus Fabius Maximus was appointed dictator to deal with Hannibal.
        Fabius, however, refused to meet Hannibal in the open field and this strategy became highly unpopular in Rome.
        Romans were used to attacking, not hiding. The Romans were forced to go on the offensive after Hannibal positioned
        his forces bewteen Rome and it's vital grain supply. This setup the epic Battle of defeated the Romans inflicting
        the worst single day defeat in Rome's history.</p>

        <h1> AFTERMATH OF THE BATTLE OF CANNAE</h1>
        <p> The Romans were forced to go on the offensive after Hannibal positioned
        his forces bewteen Rome and it's vital grain supply. This setup the epic Battle of defeated the Romans inflicting
        the worst single day defeat in Rome's history.</p>
        <P>After defeating the Romans at the Battle of Lake Trasimene, Hannibal now moved his forces down south.
        There was panic in Rome and Quintus Fabius Maximus was appointed dictator to deal with Hannibal.
        Fabius, however, refused to meet Hannibal in the open field and this strategy became highly unpopular in Rome.
        Romans were used to attacking, not hiding. </P>

    </div>

    <div class="main">
        <h1> HANNIBAL - THE BATTLE OF CANNAE</h1>
        <p> After defeating the Romans at the Battle of Lake Trasimene, Hannibal now moved his forces down south.
        There was panic in Rome and Quintus Fabius Maximus was appointed dictator to deal with Hannibal.
        Fabius, however, refused to meet Hannibal in the open field and this strategy became highly unpopular in Rome.
        Romans were used to attacking, not hiding. The Romans were forced to go on the offensive after Hannibal positioned
        his forces bewteen Rome and it's vital grain supply. This setup the epic Battle of defeated the Romans inflicting
        the worst single day defeat in Rome's history.</p>

        <h1> AFTERMATH OF THE BATTLE OF CANNAE</h1>
        <p> The Romans were forced to go on the offensive after Hannibal positioned
        his forces bewteen Rome and it's vital grain supply. This setup the epic Battle of defeated the Romans inflicting
        the worst single day defeat in Rome's history.</p>
        <P>After defeating the Romans at the Battle of Lake Trasimene, Hannibal now moved his forces down south.
        There was panic in Rome and Quintus Fabius Maximus was appointed dictator to deal with Hannibal.
        Fabius, however, refused to meet Hannibal in the open field and this strategy became highly unpopular in Rome.
        Romans were used to attacking, not hiding. </P>

    </div>

    <div id="footer">
        <ul>
            <li><a href="">About Historyden</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        &copy; 2014 Historyden.com. All Rights Reserved.
    </div>


</body>

